---
const year = new Date().getFullYear();
---

<footer>
	<p>&copy; {year} Ken Little</p>
</footer>

<style>
	footer {
		padding: 2em 1em 4em;
		text-align: center;
		color: rgb(var(--gray));
		font-size: 0.85em;
		border-top: 1px solid rgba(var(--gray), 15%);
	}
	footer p {
		margin: 0;
	}
</style>
